.menu {
  background-color: rgb(255, 153, 0);
  border-radius: 50%;
  height: 5.875rem;
  width: 5.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu__image {
  padding: 1.25rem;
  height: 2.375rem;
  width: 2.563rem;
}
