.button__violet {
  /* Back Button Background */
  box-sizing: border-box;
  position: relative;
  width: 94px;
  height: 94px;
  left: 0px;
  top: 0px;

  /* colors/gradient/3 */
  background: linear-gradient(180deg, #fe71fe 16.42%, #7199ff 100%);
  box-shadow: inset 0px -6px 0px 7px rgba(157, 45, 245, 0.25);
  border-radius: 999px;
}

.button__violet__image {
  position: relative;
  width: 41px;
  height: 38px;
  left: 27px;
  top: 22px;
}
