.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  padding: 1.5rem;
  max-width: 21.75rem;
  max-height: 34.375rem;
  margin: 1rem;
}
