.letter__alphabet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 32px;
  width: 109px;
  height: 84px;
  background: #ffffff;
  border-radius: 24px;
  margin: 0.75rem;
}

.letter__alphabet:hover {
  transform: scale(1.2);
}

.letter__alphabet--clicked {
  margin: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 32px;
  width: 109px;
  height: 84px;
  background: #ffffff;
  opacity: 0.25;
  border-radius: 24px;
}
