.buttonPlay {
  background-color: rgb(0, 98, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
}
.buttonPlay__image {
  height: 52px;
  width: 49px;
}
