.buttonPlay {
  box-sizing: border-box;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: linear-gradient(180deg, #fe71fe 16.42%, #7199ff 100%);
  box-shadow:
    inset 0px -4px 0px 5px #243041,
    inset 0px -12px 0px 11px #9d2df5;
  border-radius: 999px;
  height: 200px;
  width: 200px;
}

.buttonPlay__image {
  
  /* Vector 7 */

  position: absolute;
  left: 33.96%;
  right: 33.02%;
  top: 34.91%;
  bottom: 33.96%;
}
