.game {
  align-items: center;
  background-color: palevioletred;
  min-height: 100vh;
  width: 100%;
}

.game__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12vh;
}

/* mobile  */
.bg {
  background-image: url("/background-mobile.svg");
  background-size: auto !important;
  background-repeat: no-repeat;
}

/* Tablet */
@media (min-width: 768px) {
  .bg {
    background-image: url("/background-tablet.svg");
    background-size: auto !important;
    background-repeat: no-repeat;
  }
}

/* Desktop (desde 1024px) */
@media (min-width: 1024px) {
  .bg {
    background-image: url("/background-desktop.svg");
    background-size: cover !important;
    background-repeat: no-repeat;
  }
}
